<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <link rel="stylesheet" type="text/css" href="../css/login.css">
    <meta charset="UTF-8">
    <title>My first page</title>
    <script type="text/javascript" src="../js/echarts.min.js"></script>
</head>

<body>
<div class="nav-box">
    <div id="tu">
        <img src="../images/zhengxin.png" style="width:90px;height:90px;" alt="征信logo"/>
    </div>
    <div class="nav">
        <ul>
            <li><a href="">首页</a></li>
            <li><a href="SocialSecurity.html">社保查询</a></li>
            <li><a href="Fund.html">公积金查询</a></li>
            <li><a href="ProfessionalSocial.html">职业社交信息</a></li>
            <li><a href="AcademicRecord.html">学历学籍信息</a></li>
            <li><a href="Dishonest.html">失信人信息</a></li>
            <li><a href="AccountManager.html">账户管理</a></li>
        </ul>

    </div>
    <div style="margin-left: 1200px;margin-top: -52px;font-size: 20px;">
        <a href="../login.html"><b>退出</b></a>
    </div>
</div>
<div id="b3">
<div>
    <div style="width:600px;height:460px;font-size:10px;margin-top:150px;" id="content"></div>

    <div style="float:right;width:700px;height:500px;font-size:10px;margin-top:-460px;margin-right:50px;" id="contentB"></div>
</div>

</div>

<div id="b4" class="f1">
    <h3 style="color:#1b3840;">友情链接：</h3>
<a href="http://www.sino-cr.com/"> <img src="../images/zhongzhengzhengxin.jpg" style="width:200px;height:100px;margin-left:40px;margin-top: -15px;" alt="中征征信logo"></a>
<a href="http://www.shanghai-cis.com.cn/"><img src="../images/shanggaizixin.jpg" style="width:200px;height:100px;margin-left:90px;margin-top: -15px;" alt="中资信logo"></a>
<a href="http://www.pbccrc.org.cn/"><img src="../images/yanghang.jpg" style="width:200px;height:100px;margin-left:90px;margin-top: -15px;" alt="中央人民银行logo"></a>
    <a href="http://www.ccxcredit.com.cn/"><img src="../images/zhongchengxin.jpg" style="width:200px;height:100px;margin-left:90px;margin-top: -15px;" alt="中诚信logo"></a>
</div>
<script type="text/javascript" src="../js/index.js"></script>

<div class="f6">
   <div class="f9_1 f7" id="copy">版权所有：sgr征信网【专业大数据征信服务平台】copy right@2017 </div>

</div>

</body>
</html>






